/* 
float, clear
position: static, relative, absolute, fixed
media-queries
z-index
::before and ::after pseudo elements
 */


/* position absolute */


/* if you want to use "absolute" postion then first parrent should be "relative" position and then child should be "absolute" position */


/* branch cp_18 */

div {
    border: 3px solid red;
    background: yellowgreen;
    margin-top: 40px;
    position: static;
}

.one {
    background: yellow;
}

.two {
    background: orange;
    position: relative;
}

.special {
    background: lightseagreen;
    font-size: 20px;
    position: absolute;
    bottom: 50%;
    right: 50%;
}