/* 
Media Queries
Responsive Design
Style Element On Different Screen Sizes
min-width: --- starting form
max-width: --- up to
Mobile First
 */

body {
    background: yellow;
}

.banner {
    background: blue;
}

h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

@media screen and (max-width:576px) {
    body {
        background: red;
    }
    .banner {
        background: yellow;
        border-radius: 20px;
    }
    h1 {
        color: black;
        font-size: 60px;
    }
}

@media screen and (max-width:768px) {
    body {
        background: green;
    }
    .banner {
        background: blue;
    }
    h1 {
        color: black;
        font-size: 60px;
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}